body {
  margin: 0;
  height: 100%;
  font-family: "Courier New", "Courier", monospace;
  font-weight: 400;
}

.login-body {
  background-image: url('../images/login.JPG');
  min-height: 1275px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.20);  
}


.app-body {
  background-image: url('../images/yales.JPG');
  min-height: 100px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}


/* Nav Bar CSS Start*/
.nav {
  overflow: hidden;
  background-color: #333;
  font-family: "Yatra One", system-ui;
}

.nav a {
  float: left;
  color: #f2f2f2;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 22px;
  height: 65px; 
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}

.nav a.split:hover {
  background-color: #ddd;
  color: black;
}

.nav a.split {
  float: right;
  padding: 10px;
  display: block;
  background-color: #333;
  color: white;
}

.logo img{
  width: 40px;
}

/* Nav Bar CSS End*/

/* Footer CSS Start*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;      
}

footer{
  background-color: #333;
  position: relative;
}

.footerlinks{
  width: 100%;
  padding: 30px 30px 20px ;
  position: relative;
}

.socials img{
  width: 40px;
}

.socialmedia{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.socialmedia a{
  text-decoration: none;
  padding:  10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

.socialmedia a:hover{
  background-color: #333;
}

.sites1 ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.sites1 ul li a{
  color:white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 1;
}

.sites1 ul li a:hover{
  opacity: 0.7;
}

.sites1 {
  margin: 30px 0;
  margin-bottom: 10px;
}

.sites{
  margin: 30px 0;
  margin-bottom: 10px;
}

.sites ul{
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.sites ul li a{
  color:white;
  margin: 30px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
}

.sites ul li a:hover{
  opacity: 1;
}

.copyright{
  background-color: #000;
  padding: 20px;
  text-align: center;
  color: white;
  position: relative;
  margin-top: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
}
/* Footer CSS End*/

/* Parallax CSS Start*/
.parallax1, .parallax2, .parallax3, .parallax4 {
  background-size: 100vw auto;
  background-position: center center;  
  background-attachment: fixed;  
  background-repeat: no-repeat;  
  background-size: contain;
}

.parallax1 {
  background-image: url("../images/hummings.JPG");
  min-height: 800px;
}

.parallax2 {
  background-image: url("../images/hosts.jpg");
  min-height: 800px;
}

.parallax3 {
  background-image: url("../images/signal.jpg");
  min-height: 800px;
}

.parallax4 {
  background-image: url("../images/screened.jpeg");
  min-height: 800px;
}

.exhibitionstitle {
  background-color: #F2E8CF;
  text-align: center;
  padding: 10px;
  letter-spacing: 2px;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #111;
  font-size: 50px;
}

.exhibitionnames {
  padding-bottom:10px;
  font: 40px;
  font-weight: bold;
}

.exhibitiondescriptions {
  color: #777;
  background-color: #F2E8CF;
  text-align:center;
  padding:80px 80px;
  text-align: justify;
  font-size: 20px;
}

#school-info {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Address styling */
.address {
  text-align: center;
  padding: 20px;
  background-color: #000;
  padding: 30px 30px 5px;
  margin: 0 auto;
  max-width: 800px;
  color: white;
}

/* Main section styling */
section {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

#section2 {
  padding: 50px;
  text-align: left;
  background-image: url("../images/school.jpg");
  min-height: 950px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: grayscale(0.20);
}

#section2 h2 {
  font-size: 80px;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #00296B;
  padding: 30px 10px 10px; 
  background-color: #e3dfd3;
}

#section2 p {
  font-size: 24px;
  color: #00296B;
  margin-bottom: 30px;
  padding: 10px 10px;
  background-color: #e3dfd3;
}

#section2 .learnmore {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #f79d00;
  color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
}

#section2 .learnmore:hover {
  background-color: #FFE45C;
  text-align: center;
}

.home {
  background-color: #FFF;
  display: grid;
  padding: 10px;
}

.home-img {
  width: 100%;
  padding-left: 0;
}

.home-img img {
  width: 100%;
}

.home-text {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  line-height: 30px;
  color: #c4450a;
}

.home-title {
  text-align: center;
  padding-bottom: 30px;
  font-size: 40px;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.home-p {
  padding-bottom: 20px;
  font-size: 18px;
}


button {
  padding: 10px 20px;
  background-color: #f79d00;
  color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

button:hover {
  background-color: #FFE45C;
}

.about-yale {
  padding: 90px 30px;
  padding-left: 50px;
  font-size: 18px;
  background-color: #e3dfd3;
}

.about-title {
  text-align: center;
  padding-bottom: 30px;
  font-size: 50px;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.about-text {
  padding-bottom: 25px;
  font-size: 20px;
  line-height: 30px;
}

/* Login styling */

.loginform {
  background-color: #f2e8cff5;
  padding: 30px; 
  border-radius: 15px;
  max-width: 500px; 
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  text-align: center;
  margin-top: 180px;
  margin-bottom: 180px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.loginform button {
  display: block;
  margin: 35px;
  letter-spacing: 2px;
  font-weight: 700;
}

.loginform div {
  margin-bottom: 35px; 
}

#login-header {
  background-color: #F2E8CF;
  text-align:center;
  padding:30px 80px;
  text-align:center;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
}

#login-header h1, h2{
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.applicationform {
  background-color: #00356ffb;
  color: #fff;
  padding: 30px; 
  border-radius: 15px;
  max-width: 500px; 
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  text-align: left;
  margin-top: 70px;
  font-size: 20px;
  margin-bottom: 50px;
  flex-direction: column;
  align-items: stretch;
  font-family: "Montserrat", sans-serif;
}

.applicationform button {
  display: block;
  font-size: 20px;
  width: 100%;
  float: center;
  letter-spacing: 2px;
  font-weight: 700;
}

.applicationform div {
  margin-bottom: 35px; 
}


.applicationform label {
  margin: 5px 10px 5px 0;
}

.applicationform input {
    margin: 5px 0;
    width: 100%;
}

.applicationform select {
    margin: 10px 0;
    width: 100%;
}

#application-header {
  background-color: #00356b;
  text-align:center;
  padding:30px 80px;
  text-align:center;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

#application-header h1{
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

#application-header h2{
  font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .parallax1, .parallax2, .parallax3, .parallax4 {
    background-attachment: scroll;
  }
  .about-text {
    padding-bottom: 25px;
    font-size: 20px;
  }
  .parallax1, .parallax2, .parallax3, .parallax4 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 620px) {
  .sites ul li{
    width:100%;
    text-align: center;
    margin: 10px;
  }
  .socialmedia a{
    padding: 8px;
    margin: 4px;
  }
  .login-body {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax1, .parallax2, .parallax3, .parallax4 {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nav {
    overflow: hidden;
    background-color: #333;
    font-family: "Yatra One", system-ui;
  }
  .nav a {
    float: left;
    color: #f2f2f2;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
    height: 65px;
  }
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  .nav a.split:hover {
    background-color: #ddd;
    color: black;
  }
  .nav a.split {
    float: right;
    display: block;
    background-color: #333;
    color: white;
  }
  #section2 p {
    background-color: transparent;
  }
  #section2 h2 {
    background-color: transparent;
  }
}

@media screen and (min-width: 940px) {
  body {
    margin: 0;
    height: 100%;
    font-family: "Merriweather", serif;
    font-weight: 400;
  } 
  .nav a {
    font-size: 25px;
  }
  .exhibitionstitle {
    background-color: #F2E8CF;
    text-align: center;
    padding: 30px 80px;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 55px;
    font-family: "Yatra One", system-ui;
    font-weight: 400;
    font-style: normal;
    color: #111;
  }
  .home {
    background-color: #FFF;
    display: flex;
    align-items: center;
  }
  .home-img {
    width: 45%;
    padding-left: 60px;
  }
  .home-img img {
    width: 100%;
  }
  .home-text {
    width: 45%;
    color: #c4450a;
    padding: 10px;
    padding-left: 60px;
    font-size: 18px;
    line-height: 30px;
  }
}