body {
  margin: 0;
  height: 100%;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.login-body {
  background-image: url('../images/login.JPG');
  min-height: 1200px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.20);  
}


/* Nav Bar CSS Start*/
.nav {
  overflow: hidden;
  background-color: #333;
}

.nav a {
  float: left;
  color: #f2f2f2;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 20px;
  height: 65px;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}
.nav a.split:hover {
  background-color: #ddd;
  color: black;
}

.nav a.split {
  float: right;
  display: block;
  background-color: #333;
  color: white;
}

.nav .icon {
  display: none;
}

.logo img{
  width: 40px;
}

/* Nav Bar CSS End*/

/* Footer CSS Start*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;      
}

footer{
    background-color: #333;
    position: relative;
}

.footerlinks{
    width: 100%;
    padding: 30px 30px 20px ;
    position: relative;
}

.socialmedia{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.socialmedia a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialmedia a i{
    font-size: 2em;
    color: #333;
    opacity: 0.8;
}

.socialmedia a:hover{
    background-color: #333;
}

.socialmedia a:hover i{
    color: white;
}

.sites{
    margin: 30px 0;
    margin-bottom: 10px;
}

.sites ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.sites ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
}

.sites ul li a:hover{
    opacity: 1;
}

.copyright{
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: white;
    position: relative;
    margin-top: 20px;
}
/* Footer CSS End*/

/* Parallax CSS Start*/
.parallax1, .parallax2, .parallax3, .parallax4 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax1 {
  background-image: url("../images/hummings.JPG");
  min-height: 800px;
}

.parallax2 {
  background-image: url("../images/hosts.jpg");
  min-height: 800px;
}

.parallax3 {
  background-image: url("../images/signal.jpg");
  min-height: 800px;
}

.parallax4 {
  background-image: url("../images/screened.jpeg");
  min-height: 800px;
}

.exhibitionstitle {
  background-color: #F2E8CF;
  text-align: center;
  padding: 30px 80px;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 60px;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #111;
}

.exhibitionnames {
  padding-bottom:10px;
  font: 30px;
}

.exhibitiondescriptions {
  color: #777;
  background-color: #F2E8CF;
  text-align:center;
  padding:80px 80px;
  text-align: justify;
}

#school-info {
  background-color: #f2f2f2;
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Address styling */
.address {
  text-align: center;
  padding: 20px;
  background-color: #000;
  padding: 30px 30px 5px;
  margin: 0 auto;
  max-width: 800px;
  color: white;
}

/* Main section styling */
section {
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

#section2 {
  padding: 50px;
  text-align: left;
  background-image: url("../images/school.jpg");
  min-height: 950px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: grayscale(0.20);
}

#section2 h2 {
  font-size: 80px;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #00296B;
  padding: 30px 10px 10px;   
}

#section2 p {
  font-size: 24px;
  color: #00296B;
  margin-bottom: 30px;
  padding: 10px 10px;
}

#section2 .learnmore {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #f79d00;
  color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 18px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

#section2 .learnmore:hover {
  background-color: #FFE45C;
  text-align: center;
}

.home {
  background-color: #FFF;
  display: flex;
  padding: 10px;
  align-items: center;
}

.home-img {
  width: 45%;
  padding-left: 60px;
}

.home-img img {
  width: 100%;
}

.home-text {
  width: 45%;
  color: #c4450a;
  padding: 10px;
  padding-left: 60px;
  font-size: 18px;
  line-height: 30px;
}

.home-title {
  text-align: center;
  padding-bottom: 30px;
  font-size: 40px;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.home-p {
  padding-bottom: 20px;
}


button {
  padding: 10px 20px;
  background-color: #f79d00;
  color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

button:hover {
  background-color: #FFE45C;
}

.about-yale {
  padding: 90px 30px;
  padding-left: 50px;
  font-size: 18px;
  background-color: #e3dfd3;
}

.about-title {
  text-align: center;
  padding-bottom: 30px;
  font-size: 50px;
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.about-text {
  padding-bottom: 25px;
}

/* Login styling */

form {
  background-color: #f2e8cff5;
  padding: 30px; 
  border-radius: 15px;
  max-width: 500px; 
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  text-align: center;
  margin-top: 100px;
}

form button {
  display: block;
  margin: 35px;
}

form div {
  margin-bottom: 35px; 
}

#login-header {
  background-color: #F2E8CF;
  text-align:center;
  padding:30px 80px;
  text-align:center;
  letter-spacing: 7px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #111;
}

#login-header h1, h2{
  font-family: "Yatra One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  .parallax1, .parallax2, .parallax3, .parallax4 {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: right;
    display: block;
  }
  .nav.responsive {position: relative;}
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .home {
    background-color: #FFF;
    display: grid;
    padding: 10px;
  }
  .home-img {
    width: 100%;
    padding-left: 0;
  }
  .home-img img {
    width: 100%;
  }
  .home-text {
    width: 100%;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
  }
  #section2 p {
  background-color: #e3dfd3;
  }
  #section2 h2 {
  background-color: #e3dfd3;
  }
  .parallax1, .parallax2, .parallax3, .parallax4 {
  width: 100%;
  height: auto;
  }
}

@media screen and (min-width: 620px) {
  .sites ul li{
    width:100%;
    text-align: center;
    margin: 10px;
  }
  .socialmedia a{
    padding: 8px;
    margin: 4px;
  }
  .login-body {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  }
}
